// $primary-color: #17193b;
// html,
// body,
// #root {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

// body {
//   background-color: $primary-color;
// }

// .nav-link.white-shade {
//   color: rgba(244, 244, 245, 0.9);
// }
// .sidebar {
//   background-color: #17193b;
//   padding: 20px;
//   height: 100vh;

//   .sidebar-item {
//     display: flex;
//     align-items: center;
//     padding: 10px 15px;
//     background-color: #1c1f47;
//     border-radius: 8px;
//     transition: background-color 0.3s;

//     &:hover {
//       background-color: #343a40;
//     }

//     svg {
//       margin-right: 10px; // Space between icon and text
//     }
//   }
// }

// /* Sidebar.css */
// .weather-irradiance {
//   padding: 10px;
//   background-color: #f5f5f5;
//   border-radius: 8px;
//   margin-top: 15px;
// }

// .weather-irradiance h3 {
//   font-size: 1.1em;
//   margin-bottom: 5px;
// }

// .weather-irradiance p {
//   margin: 3px 0;
//   font-size: 0.9em;
// }

// /* WeatherForecast.css */
// .weather-forecast {
//   background-color: #f3f4f6;
//   border-radius: 8px;
//   padding: 16px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }

// .hourly-data-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
//   gap: 12px;
// }

// .hourly-data {
//   background-color: #ffffff;
//   border-radius: 4px;
//   padding: 8px;
//   text-align: center;
// }

// .hourly-data p {
//   margin: 4px 0;
// }
// .weather-box {
//   display: flex;
//   overflow-x: auto;
//   padding: 1rem;
//   background: #f3f4f6;
//   border-radius: 8px;
//   white-space: nowrap;
// }

// .weather-item {
//   flex: 0 0 auto;
//   width: 100px;
//   padding: 10px;
//   margin-right: 8px;
//   text-align: center;
//   background: #ffffff;
//   border-radius: 4px;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

// /* App.css */
// .app {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// /* DailyForecast.css */
// .daily-forecast {
//   display: flex;
//   overflow-x: auto;
//   gap: 10px;
// }

// .day-box {
//   background-color: #e0f7fa;
//   padding: 10px;
//   border-radius: 8px;
//   text-align: center;
//   width: 80px;
//   flex-shrink: 0;
// }

// /* HourlyGraph styling */
// .hourly-graph {
//   width: 100%;
//   max-width: 600px;
//   margin-top: 20px;
// }

/* App.css */

body {
  background-color: #0d1b2a;
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

.card {
  background-color: #1b263b;
}

.card-body {
  color: #adb5bd;
}
